
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuMainBar{
  width: 120%;
  height: 65px;
  margin-top: -10px;
  position: fixed;
  background-color: white;
  margin-left: -10px;
  box-shadow: -15px -15px 30px 0 #e2e2e2, 15px 15px 30px 0 #18066844;
}
.HaberUpLogo{
  width: 70px;
  height: 70px;
  margin-left: 30px;
  position: fixed;
}





.main{
  height: 100px;
  width: 20px;

}

.dropdown{
  position: fixed;
  right: 10px;
  top: 22px;
  border-style: none;
  font-size: 20px;
  border-radius: 0px;
}

.signOut{
  position: fixed;
  padding: 22px;
  right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #180668;
}
.editDelete{
  position: fixed;
  padding: 22px;
  right: 115px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #180668;
  text-decoration: none;

}
.addNew{
  position: fixed;
  padding: 22px;
  right: 303px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #180668;
  text-decoration: none;

}





.signOut:hover{
  background-color: rgb(238, 238, 238);
}
.editDelete:hover{
  background-color: rgb(238, 238, 238);

}
.addNew:hover{
  background-color: rgb(238, 238, 238);
  
}

.HaberUpLogoLink{
  position: fixed;
  cursor: pointer;
  width: 120px;
  height: 65px;
}


label{
  position: relative;
  color: #2a1f62;
  font-size: 22px;
  font-weight: 700;
  top: -200px;

  margin-left: 220px;
}
.NewSpace{
  color: #2a1f62;
  margin-right: 65px;
  font-size: 22px;
  font-weight: 700;
}
.Header-addNew{
  color: #2a1f62;
 margin-left: 200px;

}
.container-addNew{
  background-color: #F5F5FA;
  padding: 20px;
  border-radius: 20px;
  width: 530px;
  margin: auto;
  margin-top: 170px;
  box-shadow: -10px -10px 30px 0 #d3d3d3,10px 10px 30px 0 #1d0dca17;

}

table {

  border-collapse: collapse;
  margin: auto;
  box-shadow: -10px -10px 30px 0 #d3d3d3,10px 10px 30px 0 #1d0dca17;
  border-radius: 20px;
  border: 0;
  
  max-width: 850px;
}

th, td {
  border: 0;
}
th, td {
	border: 0;
	padding: 15px;
  color: #180668;
  font-weight: 700;
}

thead th {
  width: 25%;
}
.mami{
  background-color: #B0B0B0;
  color: #0e043d;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}


input[type="number"]{
  position: fixed;
  border-radius: 20px;
  bottom: 20px;
  padding: 10px;
  left: 50px;
  border-style: none;
  margin-top: 10px;
  width: 90px;
  z-index: 4;
  font-size: 20px;
  box-shadow: -15px -15px 30px 0 #cfcfcf, 15px 15px 15px 0 #1d0dca17;
}
.btndelete{
  position: fixed;
  bottom: 20px;
  background-color: white;
  color: #2a1f62;
  border-style: none;
  margin-top: 0px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  padding: 0;
  width: 200px;
  left: 180px;
  height: 40px;
  box-shadow: -10px -10px 30px 0 #dbdbdb,15px 15px 15px 0 #1d0dca17;
  cursor: pointer;
}
.once {
  background-color: #2a1f62;
  color: #fff;
  text-align: left;
  border-top-left-radius: 20px;
}
tbody th {
  background-color: #2a1f62;
  color: #fff;
  text-align: left;
}
.second{
  background-color: #2a1f62;
  color: #fff;
  text-align: left;
  border-top-right-radius: 20px;
}
.dell{
  border-radius: 10px;
  width: 40px;
  background-color: #b0b0b000;
  border: 0;
  cursor: pointer;
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
  padding: 0px;
  text-decoration: none;
}
.dell:hover{
  text-decoration: underline;
}


.signOut:hover{
  
  color: #b60404;
}
.editt{
  border-radius: 10px;
  width: 40px;
  background-color: #b0b0b000;
  border: 0;
  cursor: pointer;
  color: #ff8800;
  font-weight: bold;
  font-size: 18px;
  padding: 0px;
  text-decoration: none;
}
.editt:hover{
  text-decoration: underline;
}


.endd{
  max-width: 850px;
  height: 45px;
  margin: auto;

  background-color:#2a1f62;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
